
      <form (click)="$event.stopPropagation()" [formGroup]="loginForm" (submit)="onSubmit()" class="grid grid-cols-6  mx-auto gap-5 w-5/6 sm:w-2/6 rounded-lg p-5 bg-base-100 shadow-md mt-10">
        <div class="col-span-6 flex justify-between">
          <h2 class="text-2xl font-medium">
            Login
          </h2>

        </div>

        <div class="col-span-6 flex flex-col gap-1">
          <label class="label">Email</label>
          <input formControlName="email" type="email" class="input w-full" />
        </div>

        <div class="col-span-6 flex flex-col gap-1">
          <label class="label">Password</label>
          <input formControlName="password" type="password" class="input w-full" />
        </div>

        <button type="submit" class="btn bg-primary col-span-6">
            Iniciar sesion
        </button>

       
        <button type="button" (click)="loginWithGoogle()" class="btn bg-white text-black border-[#e5e5e5] col-span-6">
        <svg aria-label="Google logo" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><g><path d="m0 0H512V512H0" fill="#fff"></path><path fill="#34a853" d="M153 292c30 82 118 95 171 60h62v48A192 192 0 0190 341"></path><path fill="#4285f4" d="m386 400a140 175 0 0053-179H260v74h102q-7 37-38 57"></path><path fill="#fbbc02" d="m90 341a208 200 0 010-171l63 49q-12 37 0 73"></path><path fill="#ea4335" d="m153 219c22-69 116-109 179-50l55-54c-78-75-230-72-297 55"></path></g></svg>
        Iniciar con Google
      </button>
 
      </form>