
<!-- Cabecera-->
<div class="relative w-4/5 mx-auto flex flex-row justify-between py-2 flex-wrap">
    <h1 class="text-2xl">
        {{fecha | dateToMomentFormat }}
    </h1>
    <button  (click)="modalReserva.showModal()" class="btn rounded-lg font-semibold">
        + Agregar reserva
    </button>
    <span class="w-full">
        {{reservas?.length}} reservas
    </span>
    
</div>


<!-- Contenedor main -->
<div #elemento class="relative w-4/5 mx-auto scroll-x-oculto min-h-96 cursor-pointer " (mousemove)="mouseMove($event)" (mouseleave)="mouseLeave($event)" (mousedown)="mouseDown($event)" (mouseup)="mouseUp($event)" >

  <!-- Timeline base (24h) -->
  <div class="absolute gap-1 -z-10  flex flex-row w-[2400px] min-h-96  " >
    @for(hour of hours;track $index){
        <div class="relative w-[100px] bg-base-200 flex flex-col justify-start text-start ps-1 ">
            {{hour}}:00
        </div>
    }
  </div>


  <div class="relative  w-[2400px] mt-20  flex flex-col">
    @for(fila of reservasSort;track filaIndice ;let filaIndice = $index){

            @for(reserva of fila;track $index){
                <div (click)="eliminarReserva(reserva)" [attr.data-tip]="`${reserva.nombre} ${reserva.hora_inicio}-${reserva.hora_fin}`" class="bg-primary px-1 rounded-sm h-6 tooltip tooltip-info tooltip-top absolute mx-1"   [ngStyle]="{left: getLeft(reserva.hora_inicio!) + 'px', width: getWidth(reserva.hora_inicio! , reserva.hora_fin!) + 'px', top: (filaIndice * 25) + 'px'}">
                  {{reserva.departamento}}
                </div>
            }
        }
   
  </div>

</div>


<app-modal #modalReserva [modalContent]="formReserva"></app-modal>

<ng-template #formReserva>
      <form [formGroup]="reservaForm" (submit)="onSubmit()" class="grid grid-cols-6  mx-auto gap-5 w-5/6 sm:w-2/6 rounded-lg p-5 bg-base-100 shadow-md">
        
        <div class="col-span-6 flex justify-between">
          <h2 class="text-2xl font-medium">
            Registro de reserva
          </h2>
          <button type="button" (click)="modalReserva.closeModal()" class="btn btn-sm btn-circle btn-ghost">
            ✕
          </button>

        </div>

        <div class="col-span-6 flex flex-col gap-1">
          <label class="label">Departamento</label>
          <input [ngClass]="getDepartamentoControl.invalid && getDepartamentoControl.touched ? 'border border-error':''"  formControlName="departamento" type="text" class="input w-full" placeholder="Ej A301" />
        </div>

        <div class="col-span-6 flex flex-col gap-1">
          <label class="label">Nombre</label>
          <input [ngClass]="getNombreControl.invalid && getNombreControl.touched ? 'border border-error':''" formControlName="nombre" type="text" class="input w-full" placeholder="Ej Erick Olivares" />
        </div>


        <div class="col-span-6 flex flex-col gap-1">
          <label class="label">{{ getFechaControl.value | dateToMomentFormat}}</label>
          <input formControlName="fecha" type="date" class="input w-full" />
        </div>

        <!-- Hora inicio y fin -->
        <div class="col-span-6 flex flex-row gap-2">
          <div class=" flex flex-col gap-1 w-1/2">
            <label class="label">Hora inicio</label>
            <input formControlName="hora_inicio" type="time" class="input" />
          </div>
          <div class=" flex flex-col gap-1 w-1/2">
           <label class="label">Hora termino</label>
            <input  formControlName="hora_fin"  type="time" class="input" />
         </div>
        </div>

         <div class="col-span-6 flex flex-col gap-1">
          <label class="label">Cantidad de reservas  {{`( ${maximoPersonas}  maximo )`}}</label>
          <input formControlName="reservas_deseadas" type="number" class="input w-full" />
        </div>


        <button  [disabled]="!reservaForm.valid" type="submit" class="btn btn-primary col-span-6 ">
          Enviar
        </button>

        @if(formMessage.message != ''){
          <span class="col-span-6 text-center font-semibold text-xl" [ngClass]="formMessage.err ? 'text-error':'text-success'">
            {{formMessage.message}}
          </span>
        }
      </form>
</ng-template>



  